.game__button-skip {
  color: #FFF;
  font-size: 14px;
  background: transparent;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px 14px;
  margin: 0 auto;
  margin-top: 170px;
}
